:root {
    /*Primary*/
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    /*Neutral*/
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --step-size-unit: 25px;
    --border-radius: 15px;
    /*Prices*/
    --arcade-monthly: 9;
    --advanced-monthly: 12;
    --pro-monthly: 15;
    --online-service-monthly: 1;
    --larger-storage-monthly: 2;
    --customizable-profile-monthly: 2;

    --arcade-yearly: 90;
    --advanced-yearly: 120;
    --pro-yearly: 150;
    --online-service-yearly: 10;
    --larger-storage-yearly: 20;
    --customizable-profile-yearly: 20;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

body {
    font-family: 'Ubuntu';
    display: grid;
    min-height: 100svh;
    width: 100svw;
    container: body / inline-size;
    margin: 0;
    font-weight: 400;
    background: var(--light-blue);
}

main {
    display: grid;
    width: 100cqw;
    min-height:100cqh;
    container: main / inline-size;
    grid-template-columns: 30fr 70fr;
    place-self: center;
    background: white;
    border-radius: var(--border-radius);
    transform: scale(80%);
}


div[class="attribution"] {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
}

svg[id="svgs"] {
    display: none;
}

@media (width < 1000px) {
    body {
        background: var(--pastel-blue);
    }

    div[class="attribution"] {
        display: none;
    }
}