main:has(input[id="your-info"]:checked) {
  section[id^="step-"] {
    display: none;
  }

  section[id="step-1"] {
    display: contents;
  }

  label[for^="next-step-"] {
    display: none;
  }

  label[for="next-step-1"] {
    display: grid;
  }

  label[for="your-info"] section[class="step-title"]::after {
    background: var(--light-blue);
    color: var(--marine-blue);
  }
}

main:has(input[id="select-plan"]:checked) {
  section[id^="step-"] {
    display: none;
  }

  section[id="step-2"] {
    display: contents;
  }

  label[for^="next-step-"] {
    display: none;
  }

  label[for="next-step-2"] {
    display: grid;
  }

  label[for="select-plan"] section[class="step-title"]::after {
    background: var(--light-blue);
    color: var(--marine-blue);
  }
}

main:has(input[id="add-ons"]:checked) {
  section[id^="step-"] {
    display: none;
  }

  section[id="step-3"] {
    display: contents;
  }

  label[for^="next-step-"] {
    display: none;
  }

  label[for="next-step-3"] {
    display: grid;
  }

  label[for="add-ons"] section[class="step-title"]::after {
    background: var(--light-blue);
    color: var(--marine-blue);
  }
}

main:has(input[id="summary"]:checked) {
  section[id^="step-"] {
    display: none;
  }

  section[id="step-4"] {
    display: contents;
  }

  label[for^="next-step-"] {
    display: none;
  }

  label[for="next-step-4"] {
    display: grid;
  }

  label[for="summary"] section[class="step-title"]::after {
    background: var(--light-blue);
    color: var(--marine-blue);
  }
}

main:has(input[id="next-step-1"]:checked) {
  section[id^="step-"] {
    display: none;
  }

  section[id="step-2"] {
    display: contents;
  }

  label[for^="next-step-"] {
    display: none;
  }

  label[for="next-step-2"] {
    display: grid;
  }

  label[for="select-plan"] section[class="step-title"]::after {
    background: var(--light-blue);
    color: var(--marine-blue);
  }

}

section[class="plans"] label:has(input:checked) {
  border: 2px solid var(--purplish-blue);
}

@container (inline-size < 1000px) {
  main:has(input[id="your-info"]:checked) {
    section[id="step-1"] {
      display: grid;
    }
  }

  main:has(input[id="select-plan"]:checked) {
    section[id="step-2"] {
      display: grid;
    }
  }
}